.tblContents{
  background-color: #EFEFEF;
  border-radius: 10px;
  margin-left: 25px;
  padding: 20px;
  height: calc(100vh - 40px);
}

.shift-up {
  margin-bottom: 22.5px;
}

.arrActBeg {
  height: 70px;
  width: 300px;
  /* margin: 50px 10px 50px 10px; */
  margin-bottom: 20px;
  /* margin-top: 20px; */

  background-image: url("../images/ActiveBegArr.png");
  background-color: #ffffff;
  background-size: 100% 100%;
  font-size: 1rem;
  color: #000;
  text-align: center;

  border: none;
  padding: 4px;

  -o-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.arrActBeg:hover {
  transition: background-image .2s ease-in;
  cursor: pointer;
}




.arrow-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    /* margin-top: 20px; */
  
    background-image: url("../images/Arrow_Normal.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .shift-up {
    margin-bottom: 22.5px;
  }

  .arrow-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ArrowNormalDark.png");
  }
  
  .arrow-highlight {
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/Arrow_Highlight.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .arrow-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ArrowHighlightDark.png");
  }
  
  .configurations-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
  
    background-image: url("../images/ConfigurationsButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .configurations-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ConfigurationsHoverButton.png");
  }
  
  .configurations-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/ConfigHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
    
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .configurations-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ConfigHighlightButton.png");
  }

  .transform-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
  
    background-image: url("../images/TransformButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .transform-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/TransformHoverButton.png");
  }
  
  .transform-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/TransformHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .transform-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/TransformHighlightButton.png");
  }

  .running-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
  
    background-image: url("../images/RunningButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .running-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/RunningHoverButton.png");
  }
  
  .running-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/RunningHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: #000;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .running-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/RunningHighlightButton.png");
  }
  

  .loaderPage {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .notebookDivider {
    margin-right: 23px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    background-color: #D9D9D9;
    border: none;
  }

  #Basics {
    /* width: 90%; */
    /* margin-left: 3px; */
    /* margin-right: 12px; */
    background: rgba(255, 159, 4, .4);
    border-radius: 6px;
  }

  #Prerequisites {
    background: #F5F5F5;
    border-radius: 6px;
  }
  
  #Overview {
    text-align: center;
    width: 90%;
    justify-self: center;
    border-style: solid;
    border-radius: 1rem;
    border-color: #ffa404;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  
  #Overview h2 {
    text-align: center;
  }
  
  #Overview p {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .buttons {
    width: 100%;
    align-items: center;
  }

  .a {
    width: 100%;
    align-items: center;
  }
  
  #Notebooks {
    text-align: center;
    width: 90%;
    justify-self: center;
    margin: auto;
  }
  
  #Notebooks hr {
    width: 100%;
    border-top: 3px solid #DBDBDB;
    margin-bottom: 1.5rem;
  }

  #Notebook {
    background: rgba(255, 207, 129, .26);
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(255, 87, 11, .58);
  }

  #Notebook:hover {
    cursor: pointer;
  }
  
  .Notebook {
    border-style: solid;
    border-color: #ffa404;
    border-radius: 5px;
    background-color: #ffa404;
    box-shadow: 0px 3px 4px #B2B2B2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-y: hidden;
  }
  
  @keyframes expand {
    from {
      height: 3rem;
    }
    to {
      height: 4rem;
    }
  }
  
  .Notebook:hover {
    transition: background-color .2s ease-in;
    animation: expand 0.2s ease-in;
    background-color: #F5F5F5;
    height: 4rem;
  }

  .GSButton {
    height: 3rem;
    width: 30%;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  #confGS {
    background-image: url("../images/ConfigurationsHoverButton.png");
  }

  #transGS {
    background-image: url("../images/TransformHoverButton.png");
  }

  #runGS {
    background-image: url("../images/RunningHoverButton.png");
  }

  @keyframes highlightGSButton {
    from {height: 3rem}
    to {height: 3.5rem}
  }

  .GSButton:hover {
    animation: highlightGSButton;
    animation-duration: 0.3s;
    height: 3.5rem;
    cursor: pointer;
  }

  .configurations-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
    
    background-image: url("../images/ConfigurationsButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .configurations-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ConfigurationsHoverButton.png");
    cursor: pointer;
  }
  
  .configurations-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/ConfigHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
    
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .configurations-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/ConfigHighlightButton.png");
    cursor: pointer;
  }

  .transform-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
  
    background-image: url("../images/TransformButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .transform-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/TransformHoverButton.png");
    cursor: pointer;
  }
  
  .transform-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/TransformHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .transform-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/TransformHighlightButton.png");
    cursor: pointer;
  }

  .running-normal {
    height: 50px;
    width: 300px;
    /* margin: 50px 10px 50px 10px; */
    margin-bottom: 20px;
    margin-top: 20px;
  
    background-image: url("../images/RunningButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }

  .running-normal:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/RunningHoverButton.png");
    cursor: pointer;
  }
  
  .running-highlight {
    height: 73px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: 50px 10px 50px 10px; */
  
    background-image: url("../images/RunningHighlightButton.png");
    background-color: #ffffff;
    background-size: 100% 100%;
    font-size: 1rem;
    color: white;
    text-align: center;
  
    border: none;
    padding: 4px;
  
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
  }
  
  .running-highlight:hover {
    transition: background-image .2s ease-in;
    background-image: url("../images/RunningHighlightButton.png");
    cursor: pointer;
  }

  #CourseBtns {
    margin-right: 25px;
    margin-left: 10px;
    margin-bottom: -20px;
  }

  .homeBtn {
    position: relative;
    height: 2rem;
    color: #E85723;
    background-color: white;
    border: none;
    border-radius: 15px;
    align-self: center;
    top: 60%;
    filter: drop-shadow(0px 2px 1px #454545);
    width: 6%;
    margin-right: 1%;
  }

  .homeBtn:hover {
    animation: highlightButton;
    animation-duration: 0.5s;
    background-color: #FFD390;
  }

  @keyframes highlightButton {
    from {background-color: #FFFFFF}
    to {background-color: #FFD390}
  }

  @keyframes highlightText {
    from {color: #555555}
    to {color: #ec8e00}
  }

  .addition:hover {
    animation: highlightText;
    animation-duration: 0.5s;
    color: #ec8e00;
  }

  #CourseBtnsHome {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  .tocTri {
    width: 12px;
    height: 12px;
  }

  .courseLeft:hover {
    cursor: pointer;
  }